{% load static %}

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WBTools</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="container marketing">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/register-accounts" class="nav-link" aria-current="page">Зарегистрировать аккаунт</a></li>
          <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Список аккаунтов</a></li>
          <li class="nav-item"><a href="/get-money" class="nav-link" aria-current="page">Вывод денег</a></li>
          <li class="nav-item"><a href="/send-review" class="nav-link" aria-current="page">Оставить отзыв</a></li>
          <li class="nav-item"><a href="/ransoms" class="nav-link" aria-current="page">Выкупы</a></li>
          <li class="nav-item"><a href="/get-codes" class="nav-link" aria-current="page">Коды выдачи</a></li>
        </ul>
      </header>
      <div class="row row-cols-3 row-cols-md-3 mb-1 text-center container">
      {% for account in accounts %}
        <div class="col-lg-" style="margin-bottom: 50px;">
          <img src="{% static 'icon.png' %}">
          <h2 class="fw-normal">Аккаунт {{ account.0 }}</h2>
          <div class="element-description">
            <p style="margin-bottom: 2px;">{{ account.1 }}</p>
            <p style="margin-bottom: 2px;">Выкупленные артикулы: {{ account.2 }}</p>
          </div>
          <div class="row">
            <p><a class="btn btn-success rounded-pill px-3" href="{% static account.3 %}" download>Скачать куки от аккаунта</a></p>
            {% if account.1 == "Привязан СБП" %}
            <form method="POST">
              {% csrf_token %}
              <input type="submit" class="btn btn-success rounded-pill px-3" id="del_{{ account.0 }}" name="del_{{ account.0 }}" value="Отвязать СБП">
            </form>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>